h2 {
  font-family: bodoni-urw, serif;
  font-weight: 900;
  font-style: italic;
  font-size: 30px;
  text-transform: uppercase;
}

h1 {
  color: #1B3766;
  font-family: franklin-gothic-urw, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: franklin-gothic-urw-comp, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #1B3766;
}

h4 {
  font-family: franklin-gothic-urw;
  font-weight: bold;
  font-size: 24px;
  color: #F17E1D;
  margin-top:30px;
}

h5 {
  display:inline-block;
  box-shadow: inset 0 -0.4em 0 0 #ffdfbf ;
  font-family: franklin-gothic-urw-comp, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #1B3766;
}

p {
  font-size: 20px;
}
