{{ partial "header" . }}

<main class = "content-box">

    <div class="intro">

        <div style = "margin-top: 30px; margin-bottom: 30px;">
            <h2>{{ .Site.Params.description }}</h2>
        </div>
    </div>

    <div class="text-justify">

    <p>We partnered with Virginia Cooperative Extension to assess the potential for a Loudoun County food hub to alleviate food insecurity in northern Virginia and provide a sales outlet for local agricultural products.</p>
    <h3 style="text-align:center" id="project-goals-">Project Goals</h3>
    <p>Our project goal was to create a composite index measuring food insecurity in Loudoun County and northern Virginia to identify areas where a food hub could improve food and nutrition outcomes.</p>
    <h3 style="text-align:center" id="project-approach-">Project Approach</h3>
    <p>Our research team used an interdisciplinary approach to combine datasets of publicly available economic and social information related to food insecurity. These data were used to construct a composite index of food insecurity at the census tract level. The composite index includes both demand and supply side factors influencing food security. By identifying areas of food vulnerability and food outlets, stakeholders can identify neighborhoods where a Loudoun County food hub could serve these populations.</p>
    <h3 id="references">References</h3>
    <p>[1] Clark, J. K., Rouse, C., Sehgal, A. R., Bailey, M., Bell, B. A., Pike, S. N., Sharpe, P. A., &amp; Freedman, D A. (2019). Food hub to address healthy food access gaps: Residents’ preferences. Journal of Agriculture, Food Systems, and Community Development, 9(1), 59–68.</p>
    <p>[2] Fischer, Micaela, Rich Pirog, and Michael W. Hamm. &ldquo;Predictors of food hub financial viability.&rdquo; Journal of Hunger &amp; Environmental Nutrition 10.1 (2015): 100-114.</p>
    <p>[3] Avetisyan, Tatevik, and R. Brent Ross. &ldquo;The Intersection of Social and Economic Value Creation in Social Entrepreneurship: A Comparative Case Study of Food Hubs.&rdquo; Journal of Food Distribution Research 50.856-2019-3200 (2019): 97-104.</p>
    <p>[4]Gundersen, C., et al. &ldquo;Map the meal gap 2018: A report on county and congressional district food insecurity and county food cost in the United States in 2016.&rdquo; Feeding America (2018).</p>
    <p>[5]Mulaik, S. A. (2009). Foundations of factor analysis. CRC press.</p>
    <p>[6]OECD Organisation for Economic Co-operation and Develop (2008). Handbook on Constructing Composite Indicators: Methodology and User Guide. OECD Publishing.</p>
    </div>

</main>

{{ partial "footer" . }}
