#tooltip-content {
    width: 300px;
    max-width: 300px;
    word-wrap: break-word;
}

#tooltip {
    position: absolute;
    border: 1px solid black;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
}

#tooltipTitle {
    font-weight: bold;
}

.groupLine {
    fill: none;
}

.cvLine {
    opacity: 0.8;
    stroke-width: 5;
    stroke: blue;
}

.cvConnectionLine {
    opacity: 0.3;
    stroke-width: 3;
    stroke: blue;
}

.miLine {
    opacity: 0.8;
    stroke-width: 5;
    stroke: red;
}

.miConnectionLine {
    opacity: 0.3;
    stroke-width: 3;
    stroke: red;
}

.event {
    opacity: 0.5;
    z-index: 2;
}

.survey32 {
    fill: green;
}

#ww2-box {
    opacity: 0.1;
    z-index: 0;
}

.xAxis {
    font-size: 20px;
}