{{ partial "header" . }}

<main class = "content-box">

    <div class="intro">
        <div style = "margin-top: 30px; margin-bottom: 30px">
            <h2>{{ .Site.Params.description }}</h2>
        </div>
        
        <p style="text-align:justify">This project focuses on exploring the career pathways of Army veterans, observed using Burning Glass Technologies resume data. The team explores modeling techniques including sequence analysis and tournament models to classify resume data into a typology of career trajectories, and identify factors associated with career mobility. Initial modeling efforts are focused on resumes in the Washington Metropolitan area.</p>
        <h3 style="text-align:center" id="project-goals-">Project Goals</h3>
        <p style="text-align:justify">As part of a larger project with the Army Research Institute we seek to develop predictive models and metrics to describe the career pathways of veterans and active duty Soldiers. This can lead to new quantitative approaches to Army personnel planning and talent management.</p>
        <h3 style="text-align:center" id="our-approach-">Our Approach</h3>
        <p>Our project process included the following steps:</p>
        <ul>
        <li>
        <p style="text-align:justify"><em>Data Profiling, Benchmarking, and Exploration</em>
        Exploring the Burning Glass Technologies resume data and benchmarking it with other veteran- and career-specific datasets.</p>
        </li>
        <li>
        <p style="text-align:justify"><em>Sequence Analysis</em>
        Treating career pathways as sequences in time for exploration and comparison.</p>
        </li>
        <li>
        <p style="text-align:justify"><em>Clustering of Sequences</em>
        Performing Ward&rsquo;s hierarchical clustering on careers to explore groupings of sequences.</p>
        </li>
        <li>
        <p style="text-align:justify"><em>Testing of Tournament Theory Hypotheses</em>
        Testing for significant relationships between early-career outcomes and later-career outcomes.</p>
        </li>
    </div>

</main>

{{ partial "footer" . }}

